<div class="actions">
  <a [routerLink]="['/add-new']" class="btn-new">Nuevo</a>
</div>
<div>
  <ul role="list" class="list">
    @for (game of games; track game.id) {
    <li class="item">
      <div class="row">
        <div class="row-group">
          <p class="row-content">{{game.name}}</p>
        </div>
        <div class="row-action">
          <button class="btn-delete"  (click)="deleteGame(game.id)">Eliminar</button>
        </div>
        <div class="row-action">
          <a [routerLink]="['/edit', game.id]" class="btn-edit"
            >Editar</a>
        </div>
      </div>
    </li>
    }
  </ul>
</div>